$black: #27282e;
$white: #ffffff;
$main-color: #1e20fa;
$grey: #a0a0a0;
$light-grey: #f5f5f5;
$blue-overlay: rgba(80, 166, 244, 0.21);

// $trans-bezie: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
$trans-bezie: all 0.5s cubic-bezier(0, 1, 0, 1);
$trans-06: 0.6s ease;
$trans-03: 0.3s ease;
