.cards {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  padding: 0;
  margin-bottom: 100px;
}

.cards__item {
  position: relative;
  margin-bottom: 90px;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-item__content {
  z-index: 5;
  position: absolute;
}

.card-item__bg-wrap {
  z-index: 3;
  position: relative;
}

.card-img {
  z-index: 3;
  position: relative;
  transition: $trans-06;
  @include box-shadow($x: 0, $y: 16px, $blur: 29px, $color: rgba(15, 28, 52, 0.25));
}

.card-img-scale {
  &:nth-child(2n) {
    transform: scale(-1);
  }
}

.card-offers {
  color: $white;
  @include font($weight: 700, $size: 14px);
  position: relative;
}

.cards__btn {
  z-index: 6;
  bottom: 0;
  opacity: 0;
  position: absolute;
  transform: translate3d(0, 30px, 0);
  transition: $trans-06;
}

.card-item {
  transition: $trans-06;

  &__title {
    transition: $trans-06;
  }

  &__subtitle {
    margin-bottom: 25px;
  }

  &__offers {
    &::after {
      content: "";
      width: 150px;
      height: 3px;
      background-color: $main-color;
      position: absolute;
      bottom: 0;
    }
  }

  &__content {
    transition: $trans-06;
    top: 0;
    transform: translate3d(10px, 40px, 0);
  }

  &__offers {
    transition: $trans-06;
    transform: translate3d(50px, 50px, 0);

    &::after {
      left: 0;
      transform: translate3d(10px, -50px, 0);
    }
  }

  &__subtitle {
    transition: $trans-06;
    color: $light-grey;
  }
}

.link--cards {
  &:hover {
    .card-item__title {
      color: $main-color;
    }
    .card-img {
      box-shadow: none;
    }
  }
}

.card-left {
  .card-item__content {
    left: 0;
  }

  .cards__btn {
    left: 50%;
  }
}

.card-right {
  .cards__btn {
    left: 20%;
  }
}

.card-item-bg {
  transition: $trans-06;
}
