.search__wrapper {
  position: relative;
}

.search {
  text-align: center;
  padding: 10px 0;
  width: 250px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $main-color;
  outline: none;

  &::placeholder {
    color: $black;
    transition: $trans-06;
  }

  &:focus,
  &:hover,
  &:active {
    &::placeholder {
      color: $light-grey;
    }
  }
}

.btn--icon {
  left: 10px;
  top: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  background: (url("./img/search-25.svg")) no-repeat center;
  transition: $trans-06;

  &:hover {
    background: (url("./img/search-blue-25.svg")) no-repeat center;
  }
}

.intro__search {
  margin-bottom: 15px;
}

.seach-list {
  @include list-reset;
  overflow: auto;
  max-height: 60px;
  padding: 0 20px;
  transition: $trans-06;

  &::-webkit-scrollbar-thumb {
    background: $blue-overlay;
    border-radius: 1px;
  }
  &::-webkit-scrollbar {
    width: 1px;
    background-color: #f9f9fd;
  }
}
.search__item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.scrolling {
  overflow: auto;
  max-height: 250px;
  transition: $trans-06;

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, $blue-overlay, #1e20fa);
    border-radius: 1px;
  }
}
.search__dots {
  padding-right: 0;
  opacity: 0.7;
  visibility: visible;
  transition: $trans-06;
}

.search-item {
  color: $grey;
  @include font($weight: 500, $size: 16px);
}

.form {
  &--footer {
    padding-top: 30px;
    position: relative;
  }

  &__label {
    @include font($size: 12px);
  }

  &__textarea {
    width: 100%;
    height: 30px;
    padding: 5px;
    outline: none;
    resize: vertical;
    border-radius: 2px;
    transition: $trans-06;
    @include font($size: 14px);
    &:hover,
    &:focus,
    &:active {
      border: 1px solid $main-color;
    }
  }

  &__fieldset {
    padding: 0;
    border: none;
    margin-bottom: 20px;
  }
}

.contact-input {
  width: 100%;
}

.input {
  height: 30px;
  padding: 10px 5px;
  outline: none;
  border-radius: 2px;
  transition: $trans-06;
  border: 1px solid $blue-overlay;

  @include font($size: 14px);
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $main-color;
  }

  &--mg {
    margin-bottom: 20px;
  }
}

.form-btn {
  font-size: 14px;
}

.text-error {
  color: $main-color;
}
