@include mobile-425 {
  .nav-container {
    width: 50%;
    width: 400px;
    min-width: 300px;
    padding: 100px 100px 0;
  }

  .search {
    &::placeholder {
      @include font($size: 18px);
    }
  }

  .cards {
    padding: 0 15%;
  }
}

@include tablet-768 {
  .header {
    padding: 40px 0 20px;
  }

  .nav-item--line {
    position: relative;

    &::after {
      width: 80px;
    }

    &:nth-child(2n) {
      padding-left: 100px;
      &::after {
        width: 80px;
      }
    }

    &:hover {
      &:nth-child(2n) {
        padding-left: 95px;
        &::after {
          left: 5px;
        }
      }
      &::after {
        right: 5px;
      }
    }
  }

  .btn--menu {
    width: 45px;
    height: 35px;
  }

  .header__wrap {
    &:hover {
      .btn--menu {
        &:hover {
          width: 45px;
        }
      }
    }
  }

  .subtitle--third {
    @include font($weight: 500, $size: 1.5em);
  }

  .intro {
    padding: 115px 0;
  }

  .intro__wrapper-text {
    width: 60%;
    margin-bottom: 100px;
  }

  .title--first {
    @include font($size: 2.7em);
    line-height: 1.5;
  }

  .title--second {
    @include font($weight: 500, $size: 2.7em);
  }

  .title--third {
    color: $main-color;
    @include font($weight: 700, $size: 2em);
    text-shadow: 0px 0px 4px #fff;
  }

  .subtitle--first {
    @include font($size: 1.5em);
  }

  .search {
    width: 350px;
    min-width: 250px;
  }

  .vertival-line {
    &::after {
      height: 150px;
      transform: translate3d(0, -70px, 0);
    }
  }

  .catalog {
    padding: 150px 0;

    &__slider {
      padding: 0 10%;
    }
  }

  .footer {
    padding-top: 150px;

    .nav__list {
      text-align: start;
    }
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form--footer {
    padding-top: 0;
    display: flex;
  }

  .btn--footer {
    font-size: 14px;
    height: 30px;
    padding: 5px;
    border: 1px solid $main-color;
  }

  .form__textarea {
    width: 200px;
    margin-right: 1px;
  }

  .cards {
    margin-bottom: 150px;
  }

  .cards__item {
    margin-right: 90px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .card-offers {
    @include font($size: 18px);

    &::after {
      background-color: $light-grey;
    }
  }

  .link--cards {
    transition: $trans-06;
    &:hover {
      .card-img {
        box-shadow: none;
      }
    }
  }

  .card-item {
    &__content {
      transform: translate3d(0, 40px, 0);
    }

    &__subtitle {
      color: $black;
    }

    &:nth-child(2n + 1) {
      .card-item__bg-wrap {
        padding-left: 140px;
      }

      .card-item__content {
        left: 0;
      }

      .card-item-bg {
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        position: absolute;
        background: url("./img/bg-sub-1.jpg") no-repeat top left;
        transform: translate3d(87px, 30px, 0);
      }

      .card-item__offers {
        transform: translate3d(170px, 50px, 0);

        &::after {
          transform: translate3d(120px, -50px, 0);
        }
      }

      .link--cards {
        &:hover {
          .cards__btn {
            opacity: 1;
            transform: translate3d(0, -50px, 0);
          }

          .card-item-bg {
            transform: translate3d(140px, 30px, 0);
          }

          .card-item__content {
            transform: translate3d(-20px, 40px, 0);
          }
        }
      }
    }

    &:nth-child(2n) {
      .card-item__bg-wrap {
        padding-right: 140px;
      }

      .card-item__content {
        right: 0;
      }

      .card-item-bg {
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 90%;
        position: absolute;
        background: url("./img/bg-sub-2.jpg") no-repeat top right;
        transform: translate3d(-80px, 30px, 0);
      }

      .card-item__offers {
        transform: translate3d(-40px, 50px, 0);

        &::after {
          left: 0;
          transform: translate3d(-100px, -50px, 0);
        }
      }

      .link--cards {
        &:hover {
          .cards__btn {
            opacity: 1;
            transform: translate3d(0, -50px, 0);
          }

          .card-item-bg {
            transform: translate3d(-140px, 30px, 0);
          }

          .card-item__content {
            transform: translate3d(20px, 40px, 0);
          }
        }
      }
    }
  }
}

@include tablet-992 {
  .intro-main {
    display: block;
  }

  .cards {
    padding: 0 10%;
  }

  .catalog {
    &__slider {
      padding-left: 20%;
      padding-right: 20%;
    }
  }
}

@include laptopM-1200 {
  .title--first {
    @include font($size: 3em);
    line-height: 1.5;
  }

  .search {
    width: 450px;
  }
  .cards {
    padding: 0 0;
  }

  .card-item {
    &:last-child {
      display: flex;
      justify-content: center;

      .card-item__bg-wrap {
        padding-left: 0;
      }

      .card-item__content {
        width: 100%;
        text-align: center;
      }

      .card-item-bg {
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        position: absolute;
        background: url("./img/bg-sub-3.png") no-repeat bottom center;
        transform: translate3d(0, 96px, 0);
      }

      .card-item__offers {
        transform: translate3d(0px, 50px, 0);

        // &::after {
        //   right: 0;
        //   // transform: translate3d(-10px, -50px, 0);
        // }
      }

      .cards__btn {
        left: 30%;
      }

      .link--cards {
        &:hover {
          .cards__btn {
            opacity: 1;
            transform: translate3d(0, -50px, 0);
          }

          .card-item-bg {
            transform: translate3d(0, -30px, 0);
          }

          .card-item__content {
            transform: translate3d(20px, 40px, 0);
          }
        }
      }
    }
  }
}

@include laptopM-1440 {
  .intro__wrapper-text {
    width: 40%;
  }

  .title--first {
    @include font($size: 3.5em);
    line-height: 1.5;
  }
}

@include laptopM-1880 {
  .cards {
    padding: 0 10%;
  }
}
