@include mobile-425 {
  .nav-container {
    width: 50%;
    width: 400px;
    min-width: 300px;
    padding: 100px 100px 0;
  }

  .search {
    &::placeholder {
      @include font($size: 18px);
    }
  }

  .cards {
    padding: 0 15%;
  }

  .form__textarea {
    width: 60%;
  }

  .form--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .contact-input {
    width: 70%;
  }
}

//-------------------768----------------------------------------------------------------------

@include tablet-768 {
  .header {
    padding: 40px 0 20px;
  }

  .nav-item--line {
    position: relative;

    &::after {
      width: 80px;
    }

    &:nth-child(2n) {
      padding-left: 100px;
      &::after {
        width: 80px;
      }
    }

    &:hover {
      &:nth-child(2n) {
        padding-left: 95px;
        &::after {
          left: 5px;
        }
      }
      &::after {
        right: 5px;
      }
    }
  }

  .btn--menu {
    width: 45px;
    height: 45px;

    &:hover,
    &:focus {
      width: 45px;
      height: 45px;
    }
  }

  .header__wrap {
    &:hover {
      .btn--menu {
        &:hover {
          width: 45px;
        }
      }
    }
  }

  .main-page .intro__wrapper-text {
    text-align: start;
  }

  .subtitle--third {
    @include font($weight: 500, $size: 1.5em);
  }

  .intro {
    padding: 115px 0;
  }

  .intro__wrapper-text {
    width: 60%;
    margin-bottom: 100px;
  }

  .main-page .intro__wrapper-text {
    width: 80%;
  }

  .title--first {
    @include font($size: 2.7em);
    line-height: 1.5;

    &-s {
      @include font($size: 2em);
    }
  }

  .title--second {
    @include font($weight: 500, $size: 2.7em);
    &-s {
      @include font($weight: 500, $size: 2em);
      line-height: 1.5;
    }
  }

  .title--third {
    color: $main-color;
    @include font($weight: 700, $size: 2em);
    text-shadow: 0px 0px 10px #fff;
    // text-shadow:
    //   1px 0 #fff,
    //   -1px 0 #fff,
    //   0 1px #fff,
    //   0 -1px #fff,
    //   1px 1px #fff,
    //   -1px -1px #fff,
    //   1px -1px #fff,
    //   -1px 1px #fff;
  }

  .subtitle--first {
    @include font($size: 1.5em);
  }

  .search {
    width: 350px;
    min-width: 250px;
  }

  .vertival-line {
    &::after {
      height: 150px;
      transform: translate3d(0, -70px, 0);
    }
  }
  .section {
    padding: 150px 0;
  }

  .container-text {
    padding: 0 10%;
  }

  .footer {
    padding-top: 150px;

    .nav__list {
      text-align: start;
    }
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form--footer {
    padding-top: 0;
  }

  .btn--footer {
    font-size: 14px;
    height: 30px;
    padding: 5px;
    border: 1px solid $main-color;
  }

  .form__textarea {
    width: 200px;
    margin-right: 1px;
  }

  .card-offers {
    @include font($size: 18px);

    &::after {
      background-color: $light-grey;
    }
  }

  .card-item {
    &__content {
      transform: translate3d(0, 40px, 0);
    }

    &__subtitle {
      color: $black;
    }

    &:hover {
      .card-item__title {
        text-shadow: none;
      }
      .card-item__subtitle {
        color: $white;
      }
    }
  }

  .card-left {
    cursor: pointer;
    .card-item__bg-wrap {
      padding-left: 140px;
    }

    .card-item-bg {
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      position: absolute;
      background: url("./img/bg-sub-1.jpg") no-repeat top left;
      transform: translate3d(87px, 30px, 0);
    }

    .card-offers {
      transform: translate3d(170px, 50px, 0);

      &::after {
        transform: translate3d(120px, -50px, 0);
      }
    }

    &:hover {
      .cards__btn {
        opacity: 1;
        transform: translate3d(0, -50px, 0);
      }

      .card-item-bg {
        transform: translate3d(140px, 30px, 0);
      }

      .card-item__content {
        transform: translate3d(-20px, 40px, 0);
      }
    }
  }

  .card-right {
    .card-item__bg-wrap {
      padding-right: 140px;
    }

    .card-item__content {
      right: 0;
    }

    .card-item-bg {
      z-index: 1;
      top: 0;
      right: 0;
      width: 100%;
      height: 90%;
      position: absolute;
      background: url("./img/bg-sub-2.jpg") no-repeat top right;
      transform: translate3d(-80px, 30px, 0);
    }

    .card-offers {
      transform: translate3d(-40px, 50px, 0);

      &::after {
        left: 0;
        transform: translate3d(-50px, -50px, 0);
      }

      &--block {
        transform: translate3d(-76px, 47px, 0);
      }
    }

    &:hover {
      .cards__btn {
        pointer-events: painted;
        opacity: 1;
        transform: translate3d(0, -50px, 0);
      }

      .card-item-bg {
        transform: translate3d(-140px, 30px, 0);
      }

      .card-item__content {
        transform: translate3d(20px, 40px, 0);
      }
    }
  }

  .card-last {
    .card-item__bg-wrap {
      padding-left: 140px;
    }

    .card-item__content {
      left: 0;
    }

    .card-item-bg {
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      position: absolute;
      background: url("./img/bg-sub-1.jpg") no-repeat top left;
      transform: translate3d(87px, 30px, 0);
    }

    .card-item__offers {
      transform: translate3d(170px, 50px, 0);

      &::after {
        transform: translate3d(120px, -50px, 0);
      }
    }

    &:hover {
      .cards__btn {
        pointer-events: painted;
        opacity: 1;
        transform: translate3d(0, -50px, 0);
      }

      .card-item-bg {
        transform: translate3d(140px, 30px, 0);
      }

      .card-item__content {
        transform: translate3d(-20px, 40px, 0);
      }
    }

    .cards__btn {
      left: 50%;
    }
  }

  .modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__container-img {
      text-align: start;
      margin-right: 35px;
    }

    // .modal__img {
    //   margin-top: -40px;
    // }
  }

  .modal-content {
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .modal__title {
    margin-bottom: 0;
  }

  .line-after {
    &::after {
      width: 80%;
    }
  }

  .modal-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    &__list-contain {
      width: 48%;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .text {
    &-14 {
      @include font($size: 14px);
      line-height: 1.6;
    }
  }

  .section__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .section__form {
    padding-left: 15%;
  }

  .contact-address {
    text-align: start;
  }

  .form-btn {
    width: 70%;
  }
  .form--footer {
    align-items: flex-start;
  }

  .form__textarea {
    margin-bottom: 5px;
  }
  .footer__address {
    text-align: end;
  }

  .contact-address {
    margin-bottom: 0;
  }

  .active-item {
    &::after {
      right: 5px;
      background-color: #bcbde9;
    }

    &:nth-child(2n) {
      padding-left: 95px;
      &::after {
        left: 5px;
        background-color: #bcbde9;
      }
    }

    color: #bcbde9;
    padding-left: 5px;
  }
}

//-------------------992---------------------------------------------------------------

@include tablet-992 {
  .bg-intro {
    display: block;
  }

  .cards {
    padding: 0 10%;
  }
  .container-text {
    padding: 0 20%;
  }

  .main-page .intro__wrapper-text {
    width: 50%;
  }

  .btn--close {
    width: 35px;
    height: 35px;
    padding: 20px;
  }

  .modal__container {
    width: 80%;
    padding: 70px;
  }

  // .is-first-load {
  //   // transform: translate3d(0, 0, 0);
  //   // transition: $trans-06;
  //   // transition:
  //   //   opacity 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53),
  //   //   transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  // }

  .has-scrolled {
    z-index: 20;
    position: fixed;
    cursor: pointer;
    pointer-events: all;
    top: 3rem;
    right: 3.12rem;
    transform: translate3d(0, 0%, 0);
    padding: 10px 20px 10px 100px;
    background-position: center right 20%;
    background-color: #0e141f12;
    border-radius: 2.5rem;
    backdrop-filter: blur(5px);
    transition: $trans-06;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      opacity: 1;
      content: "menu";
      color: #252525;
      text-transform: uppercase;
      @include font($weight: 300, $size: 0.9rem);
      position: absolute;
      top: 50%;
      left: 20%;
      transition: $trans-06;
    }

    &:hover {
      background: url(./img/burger-icon.svg) no-repeat center right 20%;
      background-size: 35px;
      background-color: $blue-overlay;
      border: 2px solid $blue-overlay;
    }
  }
}

//-------------------------1200------------------------------------------------------------------
@include laptopM-1200 {
  .main-page .intro__wrapper-text {
    width: 50%;
  }

  .title--first {
    @include font($size: 3em);

    &-s {
      @include font($size: 2em);
    }
  }

  .search {
    width: 450px;
  }

  .cards {
    padding: 0 0;
  }

  .cards__item {
    margin-right: 90px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .card-last {
    display: flex;
    justify-content: center;

    .card-item__bg-wrap {
      padding-left: 0;
    }

    .card-item__content {
      width: 100%;
      text-align: center;
    }

    .card-item-bg {
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 90%;
      position: absolute;
      background: url("./img/bg-sub-3.png") no-repeat bottom center;
      transform: translate3d(0, 96px, 0);
    }

    .card-item__offers {
      transform: translate3d(0px, 50px, 0);
    }

    .link--cards {
      &:hover {
        .cards__btn {
          opacity: 1;
          transform: translate3d(0, -50px, 0);
        }

        .card-item-bg {
          transform: translate3d(0, -30px, 0);
        }

        .card-item__content {
          transform: translate3d(20px, 40px, 0);
        }
      }
    }
    .cards__btn {
      left: 28%;
    }
  }
}

@include laptopM-1440 {
  .intro__wrapper-text {
    width: 40%;
  }
  .main-page .intro__wrapper-text {
    width: 50%;
  }

  .title--first {
    @include font($size: 3.5em);

    &-s {
      @include font($size: 2em);
    }
  }

  .modal {
    &__container {
      width: 60%;
      margin: 4% auto;
      padding: 70px 100px;
    }

    &__btn {
      position: absolute;
      top: 15px;
      right: 15px;
    }

    &__header {
      margin-bottom: 30px;
    }
  }
}

@include laptopM-1880 {
  .cards {
    padding: 0 10%;
  }
  .main-page .intro__wrapper-text {
    width: 40%;
  }
  .title--first {
    &-s {
      @include font($size: 2.2em);
      line-height: 1.6;
    }
  }
}
