.uppercase {
  text-transform: uppercase;
}

.bg-light-grey {
  background-color: $light-grey;
}
.bg-blue-main {
  background-color: $main-color;
}

.title--first {
  color: $main-color;
  @include font($weight: 500, $size: 2em);

  &-s {
    @include font($weight: 500, $size: 1.6em);
    line-height: 1.5;
  }
}

.bold {
  font-weight: 600;
}

.title--second {
  @include font($weight: 500, $size: 2em);
  &-s {
    @include font($weight: 500, $size: 1.8em);
  }
}

.title--third {
  color: $white;
  @include font($weight: 700, $size: 20px);
}

.title--blue {
  color: $main-color;
}
.title--center {
  text-align: center;
}

.title--fourth {
  @include font($weight: 700, $size: 20px);
}
.title-fifth {
  @include font($weight: 500, $size: 14px);
}

.subtitle--third {
  @include font($weight: 500, $size: 1em);
}

.subtitle--first {
  color: $grey;
  @include font($weight: 400, $size: 1em);
}

.text-shadow {
  text-shadow:
    2px 0 #fff,
    -2px 0 #fff,
    0 2px #fff,
    0 -2px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
}

.btn {
  padding: 0;
  cursor: pointer;
  outline: none;
  text-align: center;

  border: none;
  border-radius: 2px;
  background-color: transparent;
  transition: $trans-03;

  &--menu {
    width: 35px;
    height: 35px;
    // padding: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: url("./img/burger-icon.svg") no-repeat center;
    background-size: 35px;
    transition: $trans-03;

    &:hover,
    &:focus {
      width: 35px;
      height: 35px;
      border: 2px solid $blue-overlay;
      background: url("./img/burger-icon-blue.svg") no-repeat center;
      background-size: 30px;
    }
  }

  &--close {
    opacity: 0.5;
    width: 25px;
    height: 25px;
    border: 2px solid $light-grey;
    border-radius: 50%;

    background: url("./img/close-icon-white.svg") no-repeat;
    background-size: contain;

    &:hover,
    &:focus {
      opacity: 0.8;
      transform: rotate(90deg);
      border: 2px solid $light-grey;
    }

    &-blue {
      background: url("./img/close-blue.svg") no-repeat;
      background-size: contain;
    }
  }

  &--footer {
    padding: 15px 0;
    &:hover {
      color: $main-color;
    }
  }

  &--border {
    padding: 10px 20px;
    border: 3px solid $main-color;

    &:hover,
    &:focus {
      color: $main-color;
      border: 3px solid $blue-overlay;
    }

    &-small {
      font-size: 12px;
      padding: 6px 35px;
    }
  }

  &--more {
    color: $light-grey;
    @include font($size: 14px);
    padding: 5px 35px;
    border: 3px solid $light-grey;
    pointer-events: none;
  }
}

.bg-intro {
  z-index: 2;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.link {
  transition: $trans-06;
  &:hover,
  &:focus,
  &:active {
    color: $main-color;
  }

  &-logo {
    transition: $trans-06;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.5;
    }
  }

  &-center {
    display: flex;
    align-items: center;

    justify-content: center;
  }

  &--absolute {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.vertival-line {
  z-index: 5;
  position: relative;

  &::after {
    content: "";
    top: 0;
    left: 50%;
    width: 3px;
    height: 70px;
    background-color: $main-color;
    position: absolute;
    transform: translate3d(0, -35px, 0);
  }
}
.line-after {
  z-index: 5;
  position: relative;
  padding: 20px 0;

  &::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: $main-color;
    position: absolute;
  }
}

.text {
  &--light {
    opacity: 0.8;
    @include font($size: 14px);
  }

  &-14 {
    @include font($weight: 300, $size: 12px);
    line-height: 1.4;
  }
}

.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;

  opacity: 0;
  visibility: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.wrapper-center {
  display: flex;
  justify-content: center;
}

.hide-slider {
  height: 0;
  transition: height 0.6s;
}

.show-slider {
  height: 400px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
  transition: $trans-06;
}
.show {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

// @keyframes position_hidden {
//   0% {
//     position: static;
//   }
//   99% {
//     position: static;
//   }
//   100% {
//     position: absolute;
//     top: -100%;
//   }
// }
