.header {
  z-index: 5;
  position: relative;
  padding: 20px 0 20px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.intro {
  position: relative;
  padding: 60px 0;
}

.intro-pages {
  display: flex;
  // align-items: center;
  justify-content: space-between;
}

.intro-page-img {
  position: relative;
}

.intro-img {
  z-index: 2;
  position: absolute;
  max-width: 400px;
  top: 0;
  right: 0;
  transform: translate3d(5%, -15%, 0);
  transition: $trans-06;
}
.pages-img {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(5%, -35%, 0);
  transition: $trans-06;
}

.intro__wrapper-text {
  z-index: 5;
  margin-bottom: 50px;
  position: relative;
}

.main-page .intro__wrapper-text {
  text-align: center;
  margin-bottom: 0;
}

.intro__subttitle {
  margin-bottom: 20px;
}

.intro__wrapper {
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section {
  transition: $trans-06;
  padding: 20px 0;
}

.catalog {
  padding: 50px 0;
}

.catalog {
  &__title {
    margin-bottom: 70px;
  }

  &__icons {
    @include list-reset;
    margin-bottom: 60px;
  }

  &__wrapper {
    overflow: hidden;

    padding-top: 100px;
  }

  &__wrapper--btn {
    display: flex;
  }
}
.text--mg {
  margin-bottom: 50px;
}

.footer {
  padding: 100px 0 100px;

  &__wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  &__nav {
    margin-bottom: 50px;
  }

  &__address {
    font-style: normal;
  }
}

.address {
  text-align: center;
  &__list {
    @include list-reset;
  }
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.section__container {
  text-align: center;
}

.contact-address {
  margin-bottom: 50px;
}

.title-mg {
  margin-bottom: 30px;
}

.nav__form {
  margin-top: 30px;
}
